
<nav class="breadcrumbs">
    <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link ">
                        <span>
                            Главная
                        </span>
                </a>
            </li>
                    <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link active">
                        <span>
                            Хлебные крошки
                        </span>
                </a>
            </li>
            </ol>
</nav>