<section id="desktop-menu" class="desktop-menu">
    <h2 class="sr-only">
        Меню
    </h2>
    <div class="container">
        <div class="desktop-menu__container">
                            <article class="desktop-menu__card">
                    <picture>
                        <img src="/images/hardware-cosmetology.png" alt="" class="desktop-menu__card-image">
                    </picture>
                    <div class="desktop-menu__card-content">
                        <a href="#" class="desktop-menu__card-link">
                            Аппаратная косметология
                        </a>
                        <ul class="desktop-menu__card-list ul">
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Вакуумный массаж
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Вибромассаж
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Прессотерапия
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Кавитация
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Rf лифтинг
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Микротоки
                                    </a>
                                </li>
                                                    </ul>
                    </div>
                </article>
                            <article class="desktop-menu__card">
                    <picture>
                        <img src="/images/facial-massage.png" alt="" class="desktop-menu__card-image">
                    </picture>
                    <div class="desktop-menu__card-content">
                        <a href="#" class="desktop-menu__card-link">
                            Массаж лица
                        </a>
                        <ul class="desktop-menu__card-list ul">
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Аппаратный массаж бмс
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Миофасциальный массаж
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Комплекс ручной+бмс
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Ручной массаж
                                    </a>
                                </li>
                                                    </ul>
                    </div>
                </article>
                            <article class="desktop-menu__card">
                    <picture>
                        <img src="/images/laser-hair-removal.png" alt="" class="desktop-menu__card-image">
                    </picture>
                    <div class="desktop-menu__card-content">
                        <a href="#" class="desktop-menu__card-link">
                            Лазерная эпиляция
                        </a>
                        <ul class="desktop-menu__card-list ul">
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Комплексная эпиляция
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Женщинам, по зонам
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Мужчинам, по зонам
                                    </a>
                                </li>
                                                    </ul>
                    </div>
                </article>
                            <article class="desktop-menu__card">
                    <picture>
                        <img src="/images/massage-training.png" alt="" class="desktop-menu__card-image">
                    </picture>
                    <div class="desktop-menu__card-content">
                        <a href="#" class="desktop-menu__card-link">
                            Обучение массажу
                        </a>
                        <ul class="desktop-menu__card-list ul">
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Обучение аппаратному бмс массажу
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Обучение ручному массажу
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Обучение массажу лица
                                    </a>
                                </li>
                                                    </ul>
                    </div>
                </article>
                            <article class="desktop-menu__card">
                    <picture>
                        <img src="/images/comprehensive.png" alt="" class="desktop-menu__card-image">
                    </picture>
                    <div class="desktop-menu__card-content">
                        <a href="#" class="desktop-menu__card-link">
                            Комплексные
                        </a>
                        <ul class="desktop-menu__card-list ul">
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Аппаратный бмс массаж
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Ручной массаж
                                    </a>
                                </li>
                                                            <li class="">
                                    <a href="#" class="desktop-menu__card-list-link">
                                        Мужчинам, по зонам
                                    </a>
                                </li>
                                                    </ul>
                    </div>
                </article>
                    </div>
    </div>
</section>
<div id="shadow-for-menu" role="button" tabindex="0" aria-label="Закрыть" class="shadow-for-menu"></div>