

<footer class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="" style="display: flex; flex-direction: column; height: 100%;">
                        <div class="footer__information">
                            <a href="" class="footer__logotype">
                                <img src="/images/logotype.svg" alt="" width="114" height="160"
                                     class="footer__logotype-image">
                            </a>
                            <div class="footer__contacts">
                                <a href="tel:+79632702379" class="footer__contacts-phone">
                                    +7 (963) 270-23-79
                                </a>
                                <p>
                                    г.Екатеринбург,
                                    ул. Данилы Зверева 23/1
                                </p>
                                <p>
                                    Работаем с 9:00 до 22:00
                                </p>
                            </div>
                        </div>
                        <div class="footer__person">
                            <p>
                                Самозанятая Василиса Прекрасная
                            </p>
                            <p>
                                ИНН: 667351403006
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                <div class="footer__category">
                                    <a href="#" class="footer__category-link">
                                        Аппаратная косметология
                                    </a>
                                    <ul class="footer__category-list ul">
                                                                                    <li>
                                                <a href="#" class="footer__category-sublink">
                                                    Вакуумный массаж
                                                </a>
                                            </li>
                                                                                    <li>
                                                <a href="#" class="footer__category-sublink">
                                                    Вибромассаж
                                                </a>
                                            </li>
                                                                                    <li>
                                                <a href="#" class="footer__category-sublink">
                                                    Прессотерапия
                                                </a>
                                            </li>
                                                                                    <li>
                                                <a href="#" class="footer__category-sublink">
                                                    Кавитация
                                                </a>
                                            </li>
                                                                                    <li>
                                                <a href="#" class="footer__category-sublink">
                                                    Rf лифтинг
                                                </a>
                                            </li>
                                                                                    <li>
                                                <a href="#" class="footer__category-sublink">
                                                    Микротоки
                                                </a>
                                            </li>
                                                                            </ul>
                                </div>
                            </div>
                                                    <div class="col-xs-12 col-sm-6">
                                <div class="footer__category">
                                    <a href="#" class="footer__category-link">
                                        Массаж лица
                                    </a>
                                    <ul class="footer__category-list ul">
                                                                                    <li>
                                                <a href="#" class="footer__category-sublink">
                                                    Аппаратный массаж бмс
                                                </a>
                                            </li>
                                                                                    <li>
                                                <a href="#" class="footer__category-sublink">
                                                    Миофасциальный массаж
                                                </a>
                                            </li>
                                                                                    <li>
                                                <a href="#" class="footer__category-sublink">
                                                    Комплекс ручной+бмс
                                                </a>
                                            </li>
                                                                                    <li>
                                                <a href="#" class="footer__category-sublink">
                                                    Ручной массаж
                                                </a>
                                            </li>
                                                                            </ul>
                                </div>
                            </div>
                                                    <div class="col-xs-12 col-sm-6">
                                <div class="footer__category">
                                    <a href="#" class="footer__category-link">
                                        Лазерная эпиляция
                                    </a>
                                    <ul class="footer__category-list ul">
                                                                            </ul>
                                </div>
                            </div>
                                            </div>

                </div>
                <div class="col-xs-12 col-md-2">
                                            <div class="footer__category">
                            <a href="#" class="footer__category-link">
                                О компании
                            </a>
                        </div>
                                            <div class="footer__category">
                            <a href="#" class="footer__category-link">
                                Цены
                            </a>
                        </div>
                                            <div class="footer__category">
                            <a href="#" class="footer__category-link">
                                Акции
                            </a>
                        </div>
                                            <div class="footer__category">
                            <a href="#" class="footer__category-link">
                                До и после
                            </a>
                        </div>
                                            <div class="footer__category">
                            <a href="#" class="footer__category-link">
                                Блог
                            </a>
                        </div>
                                            <div class="footer__category">
                            <a href="#" class="footer__category-link">
                                Отзывы
                            </a>
                        </div>
                                            <div class="footer__category">
                            <a href="#" class="footer__category-link">
                                Контакты
                            </a>
                        </div>
                                    </div>
            </div>
        </div>
    </div>
    <div class="footer-secondary">
        <div class="container">
            <div class="footer-secondary__row">
                <p>
                    2024 Все права защищены
                </p>
                <a href="" class="footer-secondary__link">
                    Политика обработки персональных данных
                </a>
                <div>
                    Сделано в
                    <a href="" class="footer-secondary__link footer-secondary__link--bold">
                        Маркс & Энгельс
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>