
<header id="main-header" class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__logotype">
                <a href="#">
                    <picture>
                        <source srcset="/images/logotype--mobile.svg" media="(max-width: 1199px)">
                        <img src="/images/logotype.svg" alt="" width="75" height="115" class="header__logotype-item">
                    </picture>

                </a>
            </div>
            <div class="header__content">
                <div class="header__row header__secondary">
                    <div class="header__info">
                        <div class="header__info-item">
                            <svg>
                                <use xlink:href="/images/icons.svg#location"></use>
                            </svg>
                            Екатеринбург, ул.Проезд Решетникова 22а, Оф. 205А
                        </div>
                        <div class="header__info-item">
                            <svg>
                                <use xlink:href="/images/icons.svg#clock"></use>
                            </svg>
                            Режим работы: пн – вс с 9:00 до 21:00
                        </div>
                    </div>
                    <div class="header__actions">
                        <a href="tel:+79632702379" class="header__phone">
                            +7 (963) 270-23-79
                        </a>
                        <button data-fancybox data-src="#modal-feedback" class="header__feedback">
                            Заказать звонок
                        </button>
                    </div>
                    <div class="header__socials">
                                                    <a href="#" class="header__socials-item">
                                <svg>
                                    <use xlink:href="/images/icons.svg#whatsapp"></use>
                                </svg>
                            </a>
                                                    <a href="#" class="header__socials-item">
                                <svg>
                                    <use xlink:href="/images/icons.svg#vk"></use>
                                </svg>
                            </a>
                                                    <a href="#" class="header__socials-item">
                                <svg>
                                    <use xlink:href="/images/icons.svg#telegram"></use>
                                </svg>
                            </a>
                                            </div>
                </div>
                <div class="header__main header__row">
                    <button id="desktop-menu-button" class="header__button-menu">
                        <span class="burger">
                            <span class="burger__line"></span>
                            <span class="burger__line"></span>
                            <span class="burger__line"></span>
                        </span>
                        <span>
                            Каталог услуг
                        </span>
                    </button>
                    <div class="header__menu">
                                                    <a href="#" class="header__menu-item">
                                О компании
                            </a>
                                                    <a href="#" class="header__menu-item">
                                Цены
                            </a>
                                                    <a href="#" class="header__menu-item">
                                Акции
                            </a>
                                                    <a href="#" class="header__menu-item">
                                До и после
                            </a>
                                                    <a href="#" class="header__menu-item">
                                Блог
                            </a>
                                                    <a href="#" class="header__menu-item">
                                Отзывы
                            </a>
                                                    <a href="#" class="header__menu-item">
                                Контакты
                            </a>
                                            </div>
                </div>
            </div>
            <div class="header__mobile">
                <a href="tel:#" class="header__mobile-phone">
                    <svg>
                        <use xlink:href="/images/icons.svg#phone"></use>
                    </svg>
                </a>
                <button id="mobile-menu-button" class="header__mobile-menu-button">
                <span class="burger">
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                </span>
                </button>
            </div>
        </div>
    </div>
</header>