
<div id="mobile-menu" class="mobile-menu">
    <div class="mobile-menu__container">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__category-dropdown">
                <a href="#" class="mobile-menu__category-dropdown-trigger">
                    Продукция
                </a>
                <ul>
                                            <li class="mobile-menu__subcategory-dropdown">
                            <a href="#" class="mobile-menu__subcategory-dropdown-trigger">
                                Блок-контейнеры
                            </a>
                        </li>
                                            <li class="mobile-menu__subcategory-dropdown">
                            <a href="#" class="mobile-menu__subcategory-dropdown-trigger">
                                Сантехнические контейнеры
                            </a>
                        </li>
                                            <li class="mobile-menu__subcategory-dropdown">
                            <a href="#" class="mobile-menu__subcategory-dropdown-trigger">
                                Бытовки
                            </a>
                        </li>
                                            <li class="mobile-menu__subcategory-dropdown">
                            <a href="#" class="mobile-menu__subcategory-dropdown-trigger">
                                Торговые блок-контейнеры
                            </a>
                        </li>
                                            <li class="mobile-menu__subcategory-dropdown">
                            <a href="#" class="mobile-menu__subcategory-dropdown-trigger">
                                Благоустройство
                            </a>
                        </li>
                                    </ul>
            </li>
                            <li>
                    <a href="#" class="mobile-menu__main-link">
                        О компании
                    </a>
                </li>
                            <li>
                    <a href="#" class="mobile-menu__main-link">
                        Услуги
                    </a>
                </li>
                            <li>
                    <a href="#" class="mobile-menu__main-link">
                        Наши работы
                    </a>
                </li>
                            <li>
                    <a href="#" class="mobile-menu__main-link">
                        Доставка и оплата
                    </a>
                </li>
                            <li>
                    <a href="#" class="mobile-menu__main-link">
                        Контакты
                    </a>
                </li>
                    </ul>
        <div class="mobile-menu__footer">
            <a href="tel:+79632702379" class="mobile-menu__footer-link">
                +7 (963) 270-23-79
            </a>
            <button class="button button--medium button--primary button--outline">
                Заказать звонок
            </button>
            <div class="mobile-menu__social-list">
                                    <a href="#" class="mobile-menu__social-list-item">
                        <svg>
                            <use xlink:href="/images/icons.svg#whatsapp"></use>
                        </svg>
                    </a>
                                    <a href="#" class="mobile-menu__social-list-item">
                        <svg>
                            <use xlink:href="/images/icons.svg#vk"></use>
                        </svg>
                    </a>
                                    <a href="#" class="mobile-menu__social-list-item">
                        <svg>
                            <use xlink:href="/images/icons.svg#telegram"></use>
                        </svg>
                    </a>
                            </div>
        </div>
    </div>
</div>