<div id="modal-feedback" class="modal-feedback" style="display: none; max-width: 712px;">
    <div class="modal-feedback__header">
        <img src="https://merkulovka.github.io/you-glow-html/images/modal-feedback__header.png" alt="">
    </div>
    <div class="modal-feedback__content">
        <h2 class="h2 modal-feedback__title">
            Заказать звонок
        </h2>
        <p class="modal-feedback__description">
            Оставьте заявку и наш специалист обязательно свяжется с вами в ближайшее время!
        </p>
        <form class="modal-feedback__form">
            <label class="component-input">
            <span class="component-input__label">
                Имя
            </span>
                <input type="text" placeholder="Василий" class="component-input__input">
            </label>
            <label class="component-input">
                <span class="component-input__label">
                    Телефон
                </span>
                <input type="text" placeholder="8 800 555 35 35" class="component-input__input">
            </label>
            <label class="component-textarea">
                            <span class="component-textarea__label">
                                Комментарий
                            </span>
                <textarea rows="4" placeholder="Напишите что-нибудь..."
                          class="component-textarea__textarea"></textarea>
            </label>
            <div class="modal-feedback__actions">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <button class="btn btn--main">
                            Оформить заказ
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="modal-feedback__accept">
                            Нажимая на кнопку, Вы даёте свое согласие на обработку <a href="#">Персональных данных</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>