<section class="component-banner-link">
    <div class="container">
        <div class="component-banner-link__container">
            <img src="https://merkulovka.github.io/you-glow-html/images/banner.png" alt="" class="component-banner-link__image">
            <div class="component-banner-link__content">
                <h2 class="h2">
                    Лазерная эпиляция всего тела
                </h2>
                <p class="component-banner-link__description">
                    Лазерная эпиляция — самый комфортный и эффективный метод
                    удаления нежелательных волос. Эффект виден уже после первой процедуры — выпадает до 30% волос.
                    Попробуйте комплекс на 10 раз
                </p>
                <div class="component-banner-link__actions">
                    <a href="#" class="btn btn--main">
                        Узнать подробнее
                        <svg>
                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="btn btn--main btn--outline">
                        Другие акции
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>