<section class="component-service-categories">
    <div class="container">
        <h2 class="h2">
            Какие услуги мы оказываем
        </h2>
        <div class="row">
                            <div class="col-xs-12 col-md-4">
                    <article class="component-service-categories__card">
                        <picture>
                            <img src="https://merkulovka.github.io/you-glow-html/images/hardware-cosmetology.png" alt="" class="component-service-categories__card-image">
                        </picture>
                        <div class="component-service-categories__card-content">
                            <h2 class="component-service-categories__card-title">
                                <a href="#">
                                    Аппаратная косметология
                                </a>
                            </h2>
                            <ul class="component-service-categories__card-list ul">
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Вакуумный массаж
                                        </a>
                                    </li>
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Вибромассаж
                                        </a>
                                    </li>
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Прессотерапия
                                        </a>
                                    </li>
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Кавитация
                                        </a>
                                    </li>
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Rf лифтинг
                                        </a>
                                    </li>
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Микротоки
                                        </a>
                                    </li>
                                                            </ul>
                        </div>
                    </article>
                </div>
                            <div class="col-xs-12 col-md-4">
                    <article class="component-service-categories__card">
                        <picture>
                            <img src="https://merkulovka.github.io/you-glow-html/images/facial-massage.png" alt="" class="component-service-categories__card-image">
                        </picture>
                        <div class="component-service-categories__card-content">
                            <h2 class="component-service-categories__card-title">
                                <a href="#">
                                    Массаж лица
                                </a>
                            </h2>
                            <ul class="component-service-categories__card-list ul">
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Аппаратный массаж бмс
                                        </a>
                                    </li>
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Миофасциальный массаж
                                        </a>
                                    </li>
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Комплекс ручной+бмс
                                        </a>
                                    </li>
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Ручной массаж
                                        </a>
                                    </li>
                                                            </ul>
                        </div>
                    </article>
                </div>
                            <div class="col-xs-12 col-md-4">
                    <article class="component-service-categories__card">
                        <picture>
                            <img src="https://merkulovka.github.io/you-glow-html/images/laser-hair-removal-image.png" alt="" class="component-service-categories__card-image">
                        </picture>
                        <div class="component-service-categories__card-content">
                            <h2 class="component-service-categories__card-title">
                                <a href="#">
                                    Лазерная эпиляция
                                </a>
                            </h2>
                            <ul class="component-service-categories__card-list ul">
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Комплексная эпиляция
                                        </a>
                                    </li>
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Женщинам, по зонам
                                        </a>
                                    </li>
                                                                    <li class="component-service-categories__card-list-item">
                                        <a href="#">
                                            Мужчинам, по зонам
                                        </a>
                                    </li>
                                                            </ul>
                        </div>
                    </article>
                </div>
                    </div>
    </div>
</section>