<section class="component-prices">
    <div class="container">
        <h2 class="h2">
            Аппаратный массаж бмс
        </h2>
        <div class="component-prices__list">
                            <article class="component-prices__card">
                    <div class="component-prices__card-content">
                        <div class="row middle-md">
                            <div class="col-xs-12 col-md-6 col-lg-7">
                                <div class="component-prices__card-header">
                                    <div class="component-prices__card-title">
                                        Вакуумный массаж 3-х зон
                                    </div>
                                    <div class="component-prices__card-labels">
                                    <span class="component-prices__card-label component-prices__card-label--fill">
                                        Абонемент
                                    </span>
                                        <span class="component-prices__card-label">
                                        Комплекс
                                    </span>
                                    </div>
                                </div>
                                <div class="component-prices__card-description">
                                    Лазерная эпиляция (Бикини+Голени+Подмышки) для новых клиентов до 31 октября
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-5 border-md">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="component-prices__card-information">
                                <span>
                                    1 процедура
                                </span>
                                            <span>
                                    <svg>
                                        <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#time"></use>
                                    </svg>
                                    45 минут
                                </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 border-sm">
                                        <div class="row middle-sm">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="component-prices__card-price component-prices__card-price--old">
                                                    3160руб
                                                </div>
                                                <div class="component-prices__card-price">
                                                    2160руб
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <a href="" class="btn btn--main btn--outline">
                                                    Записаться
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                            <article class="component-prices__card">
                    <div class="component-prices__card-content">
                        <div class="row middle-md">
                            <div class="col-xs-12 col-md-6 col-lg-7">
                                <div class="component-prices__card-header">
                                    <div class="component-prices__card-title">
                                        Вакуумный массаж 3-х зон
                                    </div>
                                    <div class="component-prices__card-labels">
                                    <span class="component-prices__card-label component-prices__card-label--fill">
                                        Абонемент
                                    </span>
                                        <span class="component-prices__card-label">
                                        Комплекс
                                    </span>
                                    </div>
                                </div>
                                <div class="component-prices__card-description">
                                    Лазерная эпиляция (Бикини+Голени+Подмышки) для новых клиентов до 31 октября
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-5 border-md">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="component-prices__card-information">
                                <span>
                                    1 процедура
                                </span>
                                            <span>
                                    <svg>
                                        <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#time"></use>
                                    </svg>
                                    45 минут
                                </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 border-sm">
                                        <div class="row middle-sm">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="component-prices__card-price component-prices__card-price--old">
                                                    3160руб
                                                </div>
                                                <div class="component-prices__card-price">
                                                    2160руб
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <a href="" class="btn btn--main btn--outline">
                                                    Записаться
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                            <article class="component-prices__card">
                    <div class="component-prices__card-content">
                        <div class="row middle-md">
                            <div class="col-xs-12 col-md-6 col-lg-7">
                                <div class="component-prices__card-header">
                                    <div class="component-prices__card-title">
                                        Вакуумный массаж 3-х зон
                                    </div>
                                    <div class="component-prices__card-labels">
                                    <span class="component-prices__card-label component-prices__card-label--fill">
                                        Абонемент
                                    </span>
                                        <span class="component-prices__card-label">
                                        Комплекс
                                    </span>
                                    </div>
                                </div>
                                <div class="component-prices__card-description">
                                    Лазерная эпиляция (Бикини+Голени+Подмышки) для новых клиентов до 31 октября
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-5 border-md">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="component-prices__card-information">
                                <span>
                                    1 процедура
                                </span>
                                            <span>
                                    <svg>
                                        <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#time"></use>
                                    </svg>
                                    45 минут
                                </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 border-sm">
                                        <div class="row middle-sm">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="component-prices__card-price component-prices__card-price--old">
                                                    3160руб
                                                </div>
                                                <div class="component-prices__card-price">
                                                    2160руб
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <a href="" class="btn btn--main btn--outline">
                                                    Записаться
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                            <article class="component-prices__card">
                    <div class="component-prices__card-content">
                        <div class="row middle-md">
                            <div class="col-xs-12 col-md-6 col-lg-7">
                                <div class="component-prices__card-header">
                                    <div class="component-prices__card-title">
                                        Вакуумный массаж 3-х зон
                                    </div>
                                    <div class="component-prices__card-labels">
                                    <span class="component-prices__card-label component-prices__card-label--fill">
                                        Абонемент
                                    </span>
                                        <span class="component-prices__card-label">
                                        Комплекс
                                    </span>
                                    </div>
                                </div>
                                <div class="component-prices__card-description">
                                    Лазерная эпиляция (Бикини+Голени+Подмышки) для новых клиентов до 31 октября
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-5 border-md">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="component-prices__card-information">
                                <span>
                                    1 процедура
                                </span>
                                            <span>
                                    <svg>
                                        <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#time"></use>
                                    </svg>
                                    45 минут
                                </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 border-sm">
                                        <div class="row middle-sm">
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="component-prices__card-price component-prices__card-price--old">
                                                    3160руб
                                                </div>
                                                <div class="component-prices__card-price">
                                                    2160руб
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <a href="" class="btn btn--main btn--outline">
                                                    Записаться
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                    </div>
    </div>
</section>