<div class="component-slider">
    <div class="container">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="component-slider__slide">
                        <img src="https://merkulovka.github.io/you-glow-html/images/articles.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="component-slider__slide">
                        <img src="https://merkulovka.github.io/you-glow-html/images/banner.png" alt="">
                    </div>
                </div>
            </div>
            <button class="component-slider__navigation component-slider__navigation--prev">
                <svg>
                    <use xlink:href="/images/icons.svg#arrow-left"></use>
                </svg>
            </button>
            <button class="component-slider__navigation component-slider__navigation--next">
                <svg>
                    <use xlink:href="/images/icons.svg#arrow-right"></use>
                </svg>
            </button>
            <div class="component-slider__pagination"></div>
        </div>
    </div>
</div>