<section class="component-certificates">
    <div class="container">
        <div class="relative">
            <div class="component-certificates__header">
                <h2 class="h2">
                    Наши сертификаты
                </h2>
                <div class="component-certificates__navigations">
                    <button class="btn btn--icon btn--main btn--outline component-certificates__navigation component-certificates__navigation--prev">
                        <svg>
                            <use xlink:href="/images/icons.svg#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="btn btn--icon btn--main btn--outline component-certificates__navigation component-certificates__navigation--next">
                        <svg>
                            <use xlink:href="/images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="component-certificates__slider">
                <div class="licences-js swiper">
                    <div class="swiper-wrapper">
                                                                                    <div class="swiper-slide" data-fancybox="licences"
                                     data-src="/images/licences.png">
                                    <div class="component-certificates__slide">
                                        <div class="component-certificates__slide-zoom">
                                            <img src="/images/licences.png" alt=""
                                                 class="component-certificates__slide-img">
                                        </div>
                                        <div class="component-certificates__slide-content">
                                            <div class="component-certificates__slide-title">
                                                Сертификат
                                            </div>
                                            <div class="component-certificates__slide-text">
                                                В заключении добавлю, возмущение плотности вымывает в амфифильный
                                                звукосниматель, и этот процесс может
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                            <div class="swiper-slide" data-fancybox="licences"
                                     data-src="/images/licences.png">
                                    <div class="component-certificates__slide">
                                        <div class="component-certificates__slide-zoom">
                                            <img src="/images/licences.png" alt=""
                                                 class="component-certificates__slide-img">
                                        </div>
                                        <div class="component-certificates__slide-content">
                                            <div class="component-certificates__slide-title">
                                                Сертификат
                                            </div>
                                            <div class="component-certificates__slide-text">
                                                В заключении добавлю, возмущение плотности вымывает в амфифильный
                                                звукосниматель, и этот процесс может
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                                                                                <div class="swiper-slide" data-fancybox="licences"
                                     data-src="/images/licences.png">
                                    <div class="component-certificates__slide">
                                        <div class="component-certificates__slide-zoom">
                                            <img src="/images/licences.png" alt=""
                                                 class="component-certificates__slide-img">
                                        </div>
                                        <div class="component-certificates__slide-content">
                                            <div class="component-certificates__slide-title">
                                                Сертификат
                                            </div>
                                            <div class="component-certificates__slide-text">
                                                В заключении добавлю, возмущение плотности вымывает в амфифильный
                                                звукосниматель, и этот процесс может
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                            <div class="swiper-slide" data-fancybox="licences"
                                     data-src="/images/licences.png">
                                    <div class="component-certificates__slide">
                                        <div class="component-certificates__slide-zoom">
                                            <img src="/images/licences.png" alt=""
                                                 class="component-certificates__slide-img">
                                        </div>
                                        <div class="component-certificates__slide-content">
                                            <div class="component-certificates__slide-title">
                                                Сертификат
                                            </div>
                                            <div class="component-certificates__slide-text">
                                                В заключении добавлю, возмущение плотности вымывает в амфифильный
                                                звукосниматель, и этот процесс может
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                                                                                <div class="swiper-slide" data-fancybox="licences"
                                     data-src="/images/licences.png">
                                    <div class="component-certificates__slide">
                                        <div class="component-certificates__slide-zoom">
                                            <img src="/images/licences.png" alt=""
                                                 class="component-certificates__slide-img">
                                        </div>
                                        <div class="component-certificates__slide-content">
                                            <div class="component-certificates__slide-title">
                                                Сертификат
                                            </div>
                                            <div class="component-certificates__slide-text">
                                                В заключении добавлю, возмущение плотности вымывает в амфифильный
                                                звукосниматель, и этот процесс может
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                            <div class="swiper-slide" data-fancybox="licences"
                                     data-src="/images/licences.png">
                                    <div class="component-certificates__slide">
                                        <div class="component-certificates__slide-zoom">
                                            <img src="/images/licences.png" alt=""
                                                 class="component-certificates__slide-img">
                                        </div>
                                        <div class="component-certificates__slide-content">
                                            <div class="component-certificates__slide-title">
                                                Сертификат
                                            </div>
                                            <div class="component-certificates__slide-text">
                                                В заключении добавлю, возмущение плотности вымывает в амфифильный
                                                звукосниматель, и этот процесс может
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
