<div class="component-header-page">
    <div class="container">
        <div class="component-header-page__container">
            <div class="component-header-page__background">
                <img src="https://merkulovka.github.io/you-glow-html/images/component-header-page__background.png" alt="">
            </div>
            <div class="component-header-page__content">
                
<nav class="breadcrumbs">
    <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link ">
                        <span>
                            Главная
                        </span>
                </a>
            </li>
                    <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link active">
                        <span>
                            Хлебные крошки
                        </span>
                </a>
            </li>
            </ol>
</nav>                <h1 class="h1">
                    Аппаратная косметология
                </h1>
            </div>
        </div>
    </div>
</div>