<div class="component-reviews">
    <div class="container">
        <div class="swiper">
            <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-reviews__zoom" data-fancybox="client-review"
                             data-src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png">
                            <img src="https://merkulovka.github.io/you-glow-html/images/whatsapp-review.png" alt="" class="component-reviews__image">
                        </div>
                    </div>
                            </div>
        </div>
        <div class="component-reviews__navigations">
            <button class="btn btn--icon btn--main btn--outline component-reviews__navigation component-reviews__navigation--prev">
                <svg>
                    <use xlink:href="/images/icons.svg#arrow-left"></use>
                </svg>
            </button>
            <div class="swiper-pagination component-reviews__pagination"></div>
            <button class="btn btn--icon btn--main btn--outline component-reviews__navigation component-reviews__navigation--next">
                <svg>
                    <use xlink:href="/images/icons.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</div>