
<div class="component-review-links">
    <div class="container">
        <div class="row">
                            <div class="col-xs-6 col-md-3">
                    <a href="#" class="component-review-links__card">
                        <img src="https://merkulovka.github.io/you-glow-html/images/reviews-instagram.svg" alt="" loading="lazy" class="component-review-links__card-logo">
                    </a>
                </div>
                            <div class="col-xs-6 col-md-3">
                    <a href="#" class="component-review-links__card">
                        <img src="https://merkulovka.github.io/you-glow-html/images/reviews-2gis.svg" alt="" loading="lazy" class="component-review-links__card-logo">
                    </a>
                </div>
                            <div class="col-xs-6 col-md-3">
                    <a href="#" class="component-review-links__card">
                        <img src="https://merkulovka.github.io/you-glow-html/images/reviews-ym.svg" alt="" loading="lazy" class="component-review-links__card-logo">
                    </a>
                </div>
                            <div class="col-xs-6 col-md-3">
                    <a href="#" class="component-review-links__card">
                        <img src="https://merkulovka.github.io/you-glow-html/images/reviews-whatsapp.svg" alt="" loading="lazy" class="component-review-links__card-logo">
                    </a>
                </div>
                    </div>
    </div>
</div>