

<div class="component-comparison component-comparison--interactive">
    <div class="container">
        <h2 class="h2">
            Блок фото 1 слайдер
        </h2>
        <div class="row">
            <div class="col-xs-12">
                <div class="component-comparison__slider">
                    <div class="component-comparison__slide component-comparison__slide--before">
                        <div class="component-comparison__slide-title component-comparison__slide-title--before"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                    <div class="component-comparison__slide component-comparison__slide--after">
                        <div class="component-comparison__slide-title component-comparison__slide-title--after"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="component-comparison component-comparison--interactive">
    <div class="container">
        <h2 class="h2">
            Блок До/После - 2 слайдера
        </h2>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="component-comparison__slider">
                    <div class="component-comparison__slide component-comparison__slide--before">
                        <div class="component-comparison__slide-title component-comparison__slide-title--before"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                    <div class="component-comparison__slide component-comparison__slide--after">
                        <div class="component-comparison__slide-title component-comparison__slide-title--after"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="component-comparison__slider">
                    <div class="component-comparison__slide component-comparison__slide--before">
                        <div class="component-comparison__slide-title component-comparison__slide-title--before"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                    <div class="component-comparison__slide component-comparison__slide--after">
                        <div class="component-comparison__slide-title component-comparison__slide-title--after"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="component-comparison">
    <div class="container">
        <h2 class="h2">
            Блок До/После - 2 фото
        </h2>
        <div class="row">
            <div class="col-xs-12">
                <div class="component-comparison__slider">
                    <div class="component-comparison__slide component-comparison__slide--before">
                        <div class="component-comparison__slide-title component-comparison__slide-title--before"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                    <div class="component-comparison__slide component-comparison__slide--after">
                        <div class="component-comparison__slide-title component-comparison__slide-title--after"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="component-comparison">
    <div class="container">
        <h2 class="h2">
            Блок До/После - фото без подписи
        </h2>
        <div class="row">
            <div class="col-xs-12">
                <div class="component-comparison__slider">
                    <div class="component-comparison__slide component-comparison__slide--before">
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                    <div class="component-comparison__slide component-comparison__slide--after">
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="component-comparison">
    <div class="container">
        <h2 class="h2">
            Блок До/После - 4 фото
        </h2>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="component-comparison__slider">
                    <div class="component-comparison__slide component-comparison__slide--before">
                        <div class="component-comparison__slide-title component-comparison__slide-title--before"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                    <div class="component-comparison__slide component-comparison__slide--after">
                        <div class="component-comparison__slide-title component-comparison__slide-title--after"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="component-comparison__slider">
                    <div class="component-comparison__slide component-comparison__slide--before">
                        <div class="component-comparison__slide-title component-comparison__slide-title--before"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                    <div class="component-comparison__slide component-comparison__slide--after">
                        <div class="component-comparison__slide-title component-comparison__slide-title--after"></div>
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="component-comparison">
    <div class="container">
        <h2 class="h2">
            Блок До/После - фото с подписями внизу
        </h2>
        <div class="row">
            <div class="col-xs-12">
                <div class="component-comparison__slider">
                    <div class="component-comparison__slide component-comparison__slide--before">
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                        <div class="component-comparison__slide-description">
                            Как отмечает Теодор Адорно, напряжение сжимает почвообразующий райдер. Мнимотакт, по
                            определению, традиционен.
                        </div>
                    </div>
                    <div class="component-comparison__slide component-comparison__slide--after">
                        <img src="https://merkulovka.github.io/you-glow-html/images/comparison.png" alt="">
                        <div class="component-comparison__slide-description">
                            Как отмечает Теодор Адорно, напряжение сжимает почвообразующий райдер. Мнимотакт, по
                            определению, традиционен.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


