<div class="component-numbers">
    <div class="container">
        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="component-numbers__card component-numbers__card--1">
                        <div class="component-numbers__card-title">
                            7 лет
                        </div>
                        <p class="component-numbers__card-description">
                            открыты для Вас
                        </p>
                    </div>
                </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="component-numbers__card component-numbers__card--2">
                        <div class="component-numbers__card-title">
                            25 000
                        </div>
                        <p class="component-numbers__card-description">
                            часов массажа
                        </p>
                    </div>
                </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="component-numbers__card component-numbers__card--3">
                        <div class="component-numbers__card-title">
                            1000+
                        </div>
                        <p class="component-numbers__card-description">
                            положительных отзывов
                        </p>
                    </div>
                </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="component-numbers__card component-numbers__card--4">
                        <div class="component-numbers__card-title">
                            24/7
                        </div>
                        <p class="component-numbers__card-description">
                            заботимся о красоте
                        </p>
                    </div>
                </div>
                    </div>
    </div>
</div>