<section class="component-contacts">
    <img src="/images/map.png" alt="" class="component-contacts__map">
    <div class="component-contacts__container">
        <h2 class="h2">
            Контакты
        </h2>
        <div class="component-contacts__contact-list">
            <div class="component-contacts__contact">
                <div class="component-contacts__contact-icon">
                    <svg>
                        <use xlink:href="/images/icons.svg#location"></use>
                    </svg>
                </div>
                <div class="component-contacts__contact-container">
                    <div class="component-contacts__contact-title">
                        Проезд Решетникова 22а, Офис 205А
                    </div>
                    <div class="component-contacts__contact-description">
                        Чкаловская
                    </div>
                </div>
            </div>
            <div class="component-contacts__contact">
                <div class="component-contacts__contact-icon">
                    <svg>
                        <use xlink:href="/images/icons.svg#clock"></use>
                    </svg>
                </div>
                <div class="component-contacts__contact-container">
                    <div class="component-contacts__contact-title">
                        Ежедневно с 9:00 до 21:00
                    </div>
                    <div class="component-contacts__contact-description">
                        (Услуги до 23-00, по предварительной записи)
                    </div>
                </div>
            </div>
            <div class="component-contacts__contact">
                <div class="component-contacts__contact-icon">
                    <svg>
                        <use xlink:href="/images/icons.svg#phone-outline"></use>
                    </svg>
                </div>
                <div class="component-contacts__contact-container">
                    <div class="component-contacts__contact-title">
                        Телефон для записи: <a href="tel:+79632702379">
                            +7 (963) 270-23-79
                        </a>
                    </div>
                </div>
            </div>
            <div class="component-contacts__contact">
                <div class="component-contacts__contact-icon">
                    <svg>
                        <use xlink:href="/images/icons.svg#mail-outline"></use>
                    </svg>
                </div>
                <div class="component-contacts__contact-container">
                    <div class="component-contacts__contact-title">
                        Почта: <a href="mailto:MassageStudio@mail.ru">
                            MassageStudio@mail.ru
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="component-contacts__socials">
            <div class="component-contacts__socials-title">
                Мы в соц.сетях:
            </div>
            <div class="component-contacts__socials-list">
                <a href="#" class="component-contacts__socials-item">
                    Instagram
                </a>
                <a href="#" class="component-contacts__socials-item">
                    WhatsApp
                </a>
                <a href="#" class="component-contacts__socials-item">
                    Telegram
                </a>
                <a href="#" class="component-contacts__socials-item">
                    Вконтакте
                </a>
            </div>
        </div>
        <a href="#" class="btn btn--main btn--outline">
            Перейти в каталог услуг
            <svg>
                <use xlink:href="/images/icons.svg#arrow-right"></use>
            </svg>
        </a>
    </div>
</section>