
<section class="component-promotions">
    <div class="container">
        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                    <a data-fancybox data-src="#promotions-1" class="component-promotions__card">
                        <div class="component-promotions__card-image">
                            <img src="https://merkulovka.github.io/you-glow-html/images/promotion.png" alt="">
                            <div class="component-promotions__card-time">
                                Акция до 31.12.2024
                            </div>
                            <div class="component-promotions__card-content">
                                <div class="component-promotions__card-row">
                                    <div class="component-promotions__card-title">
                                        Уход за лицом за 8 000₽! Успевайте!
                                    </div>
                                    <div class="btn btn--white btn--outline btn--icon">
                                        <svg>
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-6">
                    <a data-fancybox data-src="#promotions-2" class="component-promotions__card">
                        <div class="component-promotions__card-image">
                            <img src="https://merkulovka.github.io/you-glow-html/images/promotion.png" alt="">
                            <div class="component-promotions__card-time">
                                Акция до 31.12.2024
                            </div>
                            <div class="component-promotions__card-content">
                                <div class="component-promotions__card-row">
                                    <div class="component-promotions__card-title">
                                        Уход за лицом за 8 000₽! Успевайте!
                                    </div>
                                    <div class="btn btn--white btn--outline btn--icon">
                                        <svg>
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
    </div>
</section>

    <div id="promotions-1" class="component-promotions__modal" style="display: none; max-width: 1100px;">
        <h2 class="component-promotions__modal-title">
            Уход за лицом за 8 000₽! Успевайте!
        </h2>
        <div class="component-promotions__modal-container">
            <div class="component-promotions__modal-image">
                <img src="https://merkulovka.github.io/you-glow-html/images/promotion.png" alt="">
            </div>
            <div class="component-promotions__modal-content">
                <div class="component-promotions__modal-information-row">
                    <div class="component-promotions__modal-information-title">
                        Услуга:
                    </div>
                    <div class="component-promotions__modal-information-label">
                        Лазерная эпиляция
                        <svg>
                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-top-right"></use>
                        </svg>
                    </div>
                    <div class="component-promotions__modal-information-label component-promotions__modal-information-label--fill">
                        Акция до 31.12.2024
                    </div>
                </div>
                <div class="component-promotions__modal-prices">
                    <div class="component-promotions__modal-price">
                        8 000 ₽
                    </div>
                    <div class="component-promotions__modal-price component-promotions__modal-price--old">
                        / 12 000 ₽
                    </div>
                </div>
                <div class="component-promotions__modal-description content">
                    <p>
                        Как отмечает Теодор Адорно, напряжение сжимает почвообразующий райдер. Мнимотакт, по
                        определению, традиционен. Конечно, нельзя не принять во внимание тот факт, что
                        почвообразовательный процесс продолжает бугор пучения. Гармонический интервал нейтрализует
                        ореховатый полиряд.
                    </p>
                    <p>
                        Как отмечает Теодор Адорно, напряжение сжимает почвообразующий райдер. Мнимотакт, по
                        определению, традиционен.
                    </p>
                </div>
                <div class="component-promotions__modal-form">
                    <div class="component-promotions__modal-form-title">
                        Для записи - оставьте свой телефон, или свяжитесь с нами:
                    </div>
                    <div class="component-promotions__modal-form-content">
                        <label class="component-input">
                            <span class="component-input__label">
                                Ваш телефон
                            </span>
                            <input type="text" placeholder="888" class="component-input__input">
                            <button class="btn btn--main">
                                Отправить
                            </button>
                        </label>
                        <div class="component-promotions__modal-form-accept">
                            Нажимая кнопку “Отправить”, Вы соглашаетесь с <a href="#">Пользовательским соглашением</a>
                        </div>
                    </div>
                </div>
                <div class="component-promotions__modal-contacts">
                    <a href="tel:+79162784778" class="component-promotions__modal-contacts-phone">
                        +7 (916) 278-47-78
                    </a>
                    <div class="component-promotions__modal-contacts-list">
                                                    <a href="#" class="component-promotions__modal-contacts-item">
                                <svg>
                                    <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#whatsapp"></use>
                                </svg>
                            </a>
                                                    <a href="#" class="component-promotions__modal-contacts-item">
                                <svg>
                                    <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#vk"></use>
                                </svg>
                            </a>
                                                    <a href="#" class="component-promotions__modal-contacts-item">
                                <svg>
                                    <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#telegram"></use>
                                </svg>
                            </a>
                                            </div>
                </div>
            </div>
        </div>
    </div>
    <div id="promotions-2" class="component-promotions__modal" style="display: none; max-width: 1100px;">
        <h2 class="component-promotions__modal-title">
            Уход за лицом за 8 000₽! Успевайте!
        </h2>
        <div class="component-promotions__modal-container">
            <div class="component-promotions__modal-image">
                <img src="https://merkulovka.github.io/you-glow-html/images/promotion.png" alt="">
            </div>
            <div class="component-promotions__modal-content">
                <div class="component-promotions__modal-information-row">
                    <div class="component-promotions__modal-information-title">
                        Услуга:
                    </div>
                    <div class="component-promotions__modal-information-label">
                        Лазерная эпиляция
                        <svg>
                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-top-right"></use>
                        </svg>
                    </div>
                    <div class="component-promotions__modal-information-label component-promotions__modal-information-label--fill">
                        Акция до 31.12.2024
                    </div>
                </div>
                <div class="component-promotions__modal-prices">
                    <div class="component-promotions__modal-price">
                        8 000 ₽
                    </div>
                    <div class="component-promotions__modal-price component-promotions__modal-price--old">
                        / 12 000 ₽
                    </div>
                </div>
                <div class="component-promotions__modal-description content">
                    <p>
                        Как отмечает Теодор Адорно, напряжение сжимает почвообразующий райдер. Мнимотакт, по
                        определению, традиционен. Конечно, нельзя не принять во внимание тот факт, что
                        почвообразовательный процесс продолжает бугор пучения. Гармонический интервал нейтрализует
                        ореховатый полиряд.
                    </p>
                    <p>
                        Как отмечает Теодор Адорно, напряжение сжимает почвообразующий райдер. Мнимотакт, по
                        определению, традиционен.
                    </p>
                </div>
                <div class="component-promotions__modal-form">
                    <div class="component-promotions__modal-form-title">
                        Для записи - оставьте свой телефон, или свяжитесь с нами:
                    </div>
                    <div class="component-promotions__modal-form-content">
                        <label class="component-input">
                            <span class="component-input__label">
                                Ваш телефон
                            </span>
                            <input type="text" placeholder="888" class="component-input__input">
                            <button class="btn btn--main">
                                Отправить
                            </button>
                        </label>
                        <div class="component-promotions__modal-form-accept">
                            Нажимая кнопку “Отправить”, Вы соглашаетесь с <a href="#">Пользовательским соглашением</a>
                        </div>
                    </div>
                </div>
                <div class="component-promotions__modal-contacts">
                    <a href="tel:+79162784778" class="component-promotions__modal-contacts-phone">
                        +7 (916) 278-47-78
                    </a>
                    <div class="component-promotions__modal-contacts-list">
                                                    <a href="#" class="component-promotions__modal-contacts-item">
                                <svg>
                                    <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#whatsapp"></use>
                                </svg>
                            </a>
                                                    <a href="#" class="component-promotions__modal-contacts-item">
                                <svg>
                                    <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#vk"></use>
                                </svg>
                            </a>
                                                    <a href="#" class="component-promotions__modal-contacts-item">
                                <svg>
                                    <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#telegram"></use>
                                </svg>
                            </a>
                                            </div>
                </div>
            </div>
        </div>
    </div>
