<div class="container">
    <aside class="component-sales-banner">
        <div class="component-sales-banner__content">
            <h3 class="component-sales-banner__title">
                Классная акция в пару слов или предложении
            </h3>
            <p class="component-sales-banner__description">
                Немного описания Пуанта, следовательно, выстраивает громкостнoй прогрессийный период. Аллюзийно-полистилистическая композиция сонорна. Фаза mezzo forte продолжает хамбакер.
            </p>
        </div>
        <a href="#" class="btn btn--outline btn--main btn--outline">
            Смотреть все комплексы
        </a>
    </aside>
</div>