<div class="component-services">
    <div class="container">
        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                    <a href="#" class="component-services__card">
                        <img src="/images/hardware-cosmetology.png" alt="" class="component-services__card-image">
                        <div class="component-services__card-content">
                            <div class="component-services__card-title">
                                Вакуумный массаж
                            </div>
                            <div class="component-services__card-description">
                                от 700 ₽
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-4">
                    <a href="#" class="component-services__card">
                        <img src="/images/hardware-cosmetology.png" alt="" class="component-services__card-image">
                        <div class="component-services__card-content">
                            <div class="component-services__card-title">
                                Вакуумный массаж
                            </div>
                            <div class="component-services__card-description">
                                от 700 ₽
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-4">
                    <a href="#" class="component-services__card">
                        <img src="/images/hardware-cosmetology.png" alt="" class="component-services__card-image">
                        <div class="component-services__card-content">
                            <div class="component-services__card-title">
                                Вакуумный массаж
                            </div>
                            <div class="component-services__card-description">
                                от 700 ₽
                            </div>
                        </div>
                    </a>
                </div>
                                        <div class="col-xs-12 col-sm-6">
                    <a href="#" class="component-services__card">
                        <img src="/images/hardware-cosmetology.png" alt="" class="component-services__card-image">
                        <div class="component-services__card-content">
                            <div class="component-services__card-title">
                                Вакуумный массаж
                            </div>
                            <div class="component-services__card-description">
                                от 700 ₽
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-6">
                    <a href="#" class="component-services__card">
                        <img src="/images/hardware-cosmetology.png" alt="" class="component-services__card-image">
                        <div class="component-services__card-content">
                            <div class="component-services__card-title">
                                Вакуумный массаж
                            </div>
                            <div class="component-services__card-description">
                                от 700 ₽
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
    </div>
</div>