<section class="component-faq">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-lg-4">
                <h2 class="h2 component-faq__title">
                    Отвечаем на часто задаваемые вопросы
                </h2>
                <img src="https://merkulovka.github.io/you-glow-html/images/girl.png" alt="girl" width="437" height="492" loading="lazy" class="component-faq__image">
            </div>
            <div class="col-xs-12 col-md-7 col-lg-8">
                                    <div data-accordion class="component-faq__card">
                        <button data-accordion-button class="component-faq__card-header h4">
                                    <span>
                                        Пример вопроса 1
                                    </span>
                            <span class="component-faq__card-icon-container">
                                        <svg class="component-faq__card-icon">
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#plus"></use>
                                        </svg>
                                    </span>
                        </button>
                        <div data-accordion-body class="component-faq__card-body"
                             style="transition-duration: 300ms; overflow: hidden; height: 0;">
                            <hr class="horizontal" style="margin: 12px 0;">
                            <div class="component-faq__card-content">
                                Пуанта, следовательно, выстраивает громкостнoй прогрессийный период.
                                Аллюзийно-полистилистическая композиция сонорна. Фаза mezzo forte продолжает
                                хамбакер.
                                Open-air, на первый взгляд, синхронно имитирует деструктивный полиряд.
                                Контрапункт
                                контрастных фактур неизменяем.
                            </div>
                        </div>
                    </div>
                                    <div data-accordion class="component-faq__card">
                        <button data-accordion-button class="component-faq__card-header h4">
                                    <span>
                                        Пример вопроса 2
                                    </span>
                            <span class="component-faq__card-icon-container">
                                        <svg class="component-faq__card-icon">
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#plus"></use>
                                        </svg>
                                    </span>
                        </button>
                        <div data-accordion-body class="component-faq__card-body"
                             style="transition-duration: 300ms; overflow: hidden; height: 0;">
                            <hr class="horizontal" style="margin: 12px 0;">
                            <div class="component-faq__card-content">
                                Пуанта, следовательно, выстраивает громкостнoй прогрессийный период.
                                Аллюзийно-полистилистическая композиция сонорна. Фаза mezzo forte продолжает
                                хамбакер.
                                Open-air, на первый взгляд, синхронно имитирует деструктивный полиряд.
                                Контрапункт
                                контрастных фактур неизменяем.
                            </div>
                        </div>
                    </div>
                                    <div data-accordion class="component-faq__card">
                        <button data-accordion-button class="component-faq__card-header h4">
                                    <span>
                                        Пример вопроса 3
                                    </span>
                            <span class="component-faq__card-icon-container">
                                        <svg class="component-faq__card-icon">
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#plus"></use>
                                        </svg>
                                    </span>
                        </button>
                        <div data-accordion-body class="component-faq__card-body"
                             style="transition-duration: 300ms; overflow: hidden; height: 0;">
                            <hr class="horizontal" style="margin: 12px 0;">
                            <div class="component-faq__card-content">
                                Пуанта, следовательно, выстраивает громкостнoй прогрессийный период.
                                Аллюзийно-полистилистическая композиция сонорна. Фаза mezzo forte продолжает
                                хамбакер.
                                Open-air, на первый взгляд, синхронно имитирует деструктивный полиряд.
                                Контрапункт
                                контрастных фактур неизменяем.
                            </div>
                        </div>
                    </div>
                                    <div data-accordion class="component-faq__card">
                        <button data-accordion-button class="component-faq__card-header h4">
                                    <span>
                                        Пример вопроса 4
                                    </span>
                            <span class="component-faq__card-icon-container">
                                        <svg class="component-faq__card-icon">
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#plus"></use>
                                        </svg>
                                    </span>
                        </button>
                        <div data-accordion-body class="component-faq__card-body"
                             style="transition-duration: 300ms; overflow: hidden; height: 0;">
                            <hr class="horizontal" style="margin: 12px 0;">
                            <div class="component-faq__card-content">
                                Пуанта, следовательно, выстраивает громкостнoй прогрессийный период.
                                Аллюзийно-полистилистическая композиция сонорна. Фаза mezzo forte продолжает
                                хамбакер.
                                Open-air, на первый взгляд, синхронно имитирует деструктивный полиряд.
                                Контрапункт
                                контрастных фактур неизменяем.
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</section>