<section class="component-equipments">
    <div class="container">

        <div class="component-equipments__header">
            <h2 class="h2">
                Оборудование, с которым мы работаем
            </h2>
            <div class="component-equipments__navigations">
                <button class="btn btn--icon btn--main btn--outline component-equipments__navigation component-equipments__navigation--prev">
                    <svg>
                        <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-left"></use>
                    </svg>
                </button>
                <button class="btn btn--icon btn--main btn--outline component-equipments__navigation component-equipments__navigation--next">
                    <svg>
                        <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="swiper component-equipments__slider">
            <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                        <div class="component-equipments__card">
                            <div class="component-equipments__card-slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                                                                    <div class="swiper-slide">
                                                <div class="component-equipments__card-image">
                                                    <img src="https://merkulovka.github.io/you-glow-html/images/equipment.png" alt="">
                                                </div>
                                            </div>
                                                                                    <div class="swiper-slide">
                                                <div class="component-equipments__card-image">
                                                    <img src="https://merkulovka.github.io/you-glow-html/images/equipment.png" alt="">
                                                </div>
                                            </div>
                                                                                    <div class="swiper-slide">
                                                <div class="component-equipments__card-image">
                                                    <img src="https://merkulovka.github.io/you-glow-html/images/equipment.png" alt="">
                                                </div>
                                            </div>
                                                                            </div>
                                    <button class="component-equipments__card-slider-navigation component-equipments__card-slider-navigation--prev">
                                        <svg>
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button class="component-equipments__card-slider-navigation component-equipments__card-slider-navigation--next">
                                        <svg>
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="component-equipments__card-slider-pagination swiper-pagination"></div>
                            </div>
                            <div class="component-equipments__card-content content">
                                <h4>
                                    Amur-X — профессиональный
                                    аппарат для лазерной эпиляции
                                </h4>
                                <p>
                                    Лазер излучает александритовую, диодную и неодимовую волны, позволяющую производить
                                    депиляцию людям даже со сложным типом кожи. Аппарат не повреждает светлую или
                                    смуглую кожу и работает с любыми типами волос: от темных до рыжих или светлых.
                                    Клиент почувствует эффект сразу после завершения процедуры.
                                </p>
                                <h4>
                                    Преимущества
                                </h4>
                                <ul>
                                    <li>
                                        Международные стандарты качества
                                    </li>
                                    <li>
                                        Собран из деталей из США, Германии и других стран Европы
                                    </li>
                                    <li>
                                        Быстрая эпиляция даже самых проблемных зон.
                                    </li>
                                </ul>
                                <h4>
                                    Сфера применения
                                </h4>
                                <ul>
                                    <li>
                                        Все виды лазерной эпиляции для мужчин и женщин
                                    </li>
                                    <li>
                                        Коррекция волосяного покрова после лазерной эпиляции
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-equipments__card">
                            <div class="component-equipments__card-slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                                                                    <div class="swiper-slide">
                                                <div class="component-equipments__card-image">
                                                    <img src="https://merkulovka.github.io/you-glow-html/images/equipment.png" alt="">
                                                </div>
                                            </div>
                                                                                    <div class="swiper-slide">
                                                <div class="component-equipments__card-image">
                                                    <img src="https://merkulovka.github.io/you-glow-html/images/equipment.png" alt="">
                                                </div>
                                            </div>
                                                                                    <div class="swiper-slide">
                                                <div class="component-equipments__card-image">
                                                    <img src="https://merkulovka.github.io/you-glow-html/images/equipment.png" alt="">
                                                </div>
                                            </div>
                                                                            </div>
                                    <button class="component-equipments__card-slider-navigation component-equipments__card-slider-navigation--prev">
                                        <svg>
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button class="component-equipments__card-slider-navigation component-equipments__card-slider-navigation--next">
                                        <svg>
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="component-equipments__card-slider-pagination swiper-pagination"></div>
                            </div>
                            <div class="component-equipments__card-content content">
                                <h4>
                                    Amur-X — профессиональный
                                    аппарат для лазерной эпиляции
                                </h4>
                                <p>
                                    Лазер излучает александритовую, диодную и неодимовую волны, позволяющую производить
                                    депиляцию людям даже со сложным типом кожи. Аппарат не повреждает светлую или
                                    смуглую кожу и работает с любыми типами волос: от темных до рыжих или светлых.
                                    Клиент почувствует эффект сразу после завершения процедуры.
                                </p>
                                <h4>
                                    Преимущества
                                </h4>
                                <ul>
                                    <li>
                                        Международные стандарты качества
                                    </li>
                                    <li>
                                        Собран из деталей из США, Германии и других стран Европы
                                    </li>
                                    <li>
                                        Быстрая эпиляция даже самых проблемных зон.
                                    </li>
                                </ul>
                                <h4>
                                    Сфера применения
                                </h4>
                                <ul>
                                    <li>
                                        Все виды лазерной эпиляции для мужчин и женщин
                                    </li>
                                    <li>
                                        Коррекция волосяного покрова после лазерной эпиляции
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                    <div class="swiper-slide">
                        <div class="component-equipments__card">
                            <div class="component-equipments__card-slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                                                                    <div class="swiper-slide">
                                                <div class="component-equipments__card-image">
                                                    <img src="https://merkulovka.github.io/you-glow-html/images/equipment.png" alt="">
                                                </div>
                                            </div>
                                                                                    <div class="swiper-slide">
                                                <div class="component-equipments__card-image">
                                                    <img src="https://merkulovka.github.io/you-glow-html/images/equipment.png" alt="">
                                                </div>
                                            </div>
                                                                                    <div class="swiper-slide">
                                                <div class="component-equipments__card-image">
                                                    <img src="https://merkulovka.github.io/you-glow-html/images/equipment.png" alt="">
                                                </div>
                                            </div>
                                                                            </div>
                                    <button class="component-equipments__card-slider-navigation component-equipments__card-slider-navigation--prev">
                                        <svg>
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button class="component-equipments__card-slider-navigation component-equipments__card-slider-navigation--next">
                                        <svg>
                                            <use xlink:href="https://merkulovka.github.io/you-glow-html/images/icons.svg#arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="component-equipments__card-slider-pagination swiper-pagination"></div>
                            </div>
                            <div class="component-equipments__card-content content">
                                <h4>
                                    Amur-X — профессиональный
                                    аппарат для лазерной эпиляции
                                </h4>
                                <p>
                                    Лазер излучает александритовую, диодную и неодимовую волны, позволяющую производить
                                    депиляцию людям даже со сложным типом кожи. Аппарат не повреждает светлую или
                                    смуглую кожу и работает с любыми типами волос: от темных до рыжих или светлых.
                                    Клиент почувствует эффект сразу после завершения процедуры.
                                </p>
                                <h4>
                                    Преимущества
                                </h4>
                                <ul>
                                    <li>
                                        Международные стандарты качества
                                    </li>
                                    <li>
                                        Собран из деталей из США, Германии и других стран Европы
                                    </li>
                                    <li>
                                        Быстрая эпиляция даже самых проблемных зон.
                                    </li>
                                </ul>
                                <h4>
                                    Сфера применения
                                </h4>
                                <ul>
                                    <li>
                                        Все виды лазерной эпиляции для мужчин и женщин
                                    </li>
                                    <li>
                                        Коррекция волосяного покрова после лазерной эпиляции
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                            </div>
        </div>
    </div>
</section>