<section class="component-complex-pack">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <p class="component-complex-pack__description">
                    Сложно выбрать что-то одно?
                </p>
                <h2 class="h2">
                    Попробуйте наши комплексные услуги
                </h2>
            </div>
            <div class="col-xs-12 col-md-4 end-sm">
                <a href="#" class="btn btn--main btn--outline">
                    Смотреть все комплексы
                </a>
            </div>
        </div>
        <div class="component-complex-pack__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                            <div class="component-complex-pack__slide">
                                <div class="component-complex-pack__slide-image">
                                    <img src="https://merkulovka.github.io/you-glow-html/images/articles.png" alt="">
                                </div>
                                <div class="component-complex-pack__slide-content">
                                    <div class="component-complex-pack__slide-ships-list">
                                        <div class="component-complex-pack__slide-ships component-complex-pack__slide-ships--fill">
                                            НОВИНКА
                                        </div>
                                        <div class="component-complex-pack__slide-ships">
                                            Прессотерапия
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </div>
                                        <div class="component-complex-pack__slide-ships">
                                            Вакуумный массаж
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <h3 class="component-complex-pack__slide-title">
                                        Вакуумный массаж + прессотерапия
                                    </h3>
                                    <div class="component-complex-pack__slide-prices">
                                        <div class="component-complex-pack__slide-price">
                                            5 000 ₽
                                        </div>
                                        <div class="component-complex-pack__slide-price component-complex-pack__slide-price--old">
                                            / 8 000 ₽
                                        </div>
                                    </div>
                                    <div class="component-complex-pack__slide-description">
                                        В заключении добавлю, возмущение плотности вымывает в амфифильный
                                        звукосниматель, и этот процесс может повторяться многократно. Как следует из
                                        закона сохранения массы и энергии, заиливание самостоятельно.
                                    </div>
                                    <div class="component-complex-pack__slide-actions">
                                        <button class="btn btn--main btn--outline">
                                            Записаться
                                        </button>
                                        <a href="" class="btn">
                                            Все комплексы
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            <div class="swiper-slide">
                            <div class="component-complex-pack__slide">
                                <div class="component-complex-pack__slide-image">
                                    <img src="https://merkulovka.github.io/you-glow-html/images/articles.png" alt="">
                                </div>
                                <div class="component-complex-pack__slide-content">
                                    <div class="component-complex-pack__slide-ships-list">
                                        <div class="component-complex-pack__slide-ships component-complex-pack__slide-ships--fill">
                                            НОВИНКА
                                        </div>
                                        <div class="component-complex-pack__slide-ships">
                                            Прессотерапия
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </div>
                                        <div class="component-complex-pack__slide-ships">
                                            Вакуумный массаж
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <h3 class="component-complex-pack__slide-title">
                                        Вакуумный массаж + прессотерапия
                                    </h3>
                                    <div class="component-complex-pack__slide-prices">
                                        <div class="component-complex-pack__slide-price">
                                            5 000 ₽
                                        </div>
                                        <div class="component-complex-pack__slide-price component-complex-pack__slide-price--old">
                                            / 8 000 ₽
                                        </div>
                                    </div>
                                    <div class="component-complex-pack__slide-description">
                                        В заключении добавлю, возмущение плотности вымывает в амфифильный
                                        звукосниматель, и этот процесс может повторяться многократно. Как следует из
                                        закона сохранения массы и энергии, заиливание самостоятельно.
                                    </div>
                                    <div class="component-complex-pack__slide-actions">
                                        <button class="btn btn--main btn--outline">
                                            Записаться
                                        </button>
                                        <a href="" class="btn">
                                            Все комплексы
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            <div class="swiper-slide">
                            <div class="component-complex-pack__slide">
                                <div class="component-complex-pack__slide-image">
                                    <img src="https://merkulovka.github.io/you-glow-html/images/articles.png" alt="">
                                </div>
                                <div class="component-complex-pack__slide-content">
                                    <div class="component-complex-pack__slide-ships-list">
                                        <div class="component-complex-pack__slide-ships component-complex-pack__slide-ships--fill">
                                            НОВИНКА
                                        </div>
                                        <div class="component-complex-pack__slide-ships">
                                            Прессотерапия
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </div>
                                        <div class="component-complex-pack__slide-ships">
                                            Вакуумный массаж
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <h3 class="component-complex-pack__slide-title">
                                        Вакуумный массаж + прессотерапия
                                    </h3>
                                    <div class="component-complex-pack__slide-prices">
                                        <div class="component-complex-pack__slide-price">
                                            5 000 ₽
                                        </div>
                                        <div class="component-complex-pack__slide-price component-complex-pack__slide-price--old">
                                            / 8 000 ₽
                                        </div>
                                    </div>
                                    <div class="component-complex-pack__slide-description">
                                        В заключении добавлю, возмущение плотности вымывает в амфифильный
                                        звукосниматель, и этот процесс может повторяться многократно. Как следует из
                                        закона сохранения массы и энергии, заиливание самостоятельно.
                                    </div>
                                    <div class="component-complex-pack__slide-actions">
                                        <button class="btn btn--main btn--outline">
                                            Записаться
                                        </button>
                                        <a href="" class="btn">
                                            Все комплексы
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            <div class="swiper-slide">
                            <div class="component-complex-pack__slide">
                                <div class="component-complex-pack__slide-image">
                                    <img src="https://merkulovka.github.io/you-glow-html/images/articles.png" alt="">
                                </div>
                                <div class="component-complex-pack__slide-content">
                                    <div class="component-complex-pack__slide-ships-list">
                                        <div class="component-complex-pack__slide-ships component-complex-pack__slide-ships--fill">
                                            НОВИНКА
                                        </div>
                                        <div class="component-complex-pack__slide-ships">
                                            Прессотерапия
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </div>
                                        <div class="component-complex-pack__slide-ships">
                                            Вакуумный массаж
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <h3 class="component-complex-pack__slide-title">
                                        Вакуумный массаж + прессотерапия
                                    </h3>
                                    <div class="component-complex-pack__slide-prices">
                                        <div class="component-complex-pack__slide-price">
                                            5 000 ₽
                                        </div>
                                        <div class="component-complex-pack__slide-price component-complex-pack__slide-price--old">
                                            / 8 000 ₽
                                        </div>
                                    </div>
                                    <div class="component-complex-pack__slide-description">
                                        В заключении добавлю, возмущение плотности вымывает в амфифильный
                                        звукосниматель, и этот процесс может повторяться многократно. Как следует из
                                        закона сохранения массы и энергии, заиливание самостоятельно.
                                    </div>
                                    <div class="component-complex-pack__slide-actions">
                                        <button class="btn btn--main btn--outline">
                                            Записаться
                                        </button>
                                        <a href="" class="btn">
                                            Все комплексы
                                            <svg>
                                                <use xlink:href="/images/icons.svg#arrow-top-right"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                    </div>
            </div>
            <div class="component-complex-pack__slider-navigations">
                <div class="swiper-pagination component-complex-pack__slider-pagination"></div>

                <button class="btn btn--icon btn--main btn--outline component-complex-pack__slider-navigation component-complex-pack__slider-navigation--prev">
                    <svg>
                        <use xlink:href="/images/icons.svg#arrow-left"></use>
                    </svg>
                </button>
                <button class="btn btn--icon btn--main btn--outline component-complex-pack__slider-navigation component-complex-pack__slider-navigation--next">
                    <svg>
                        <use xlink:href="/images/icons.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>