<div class="component-blog-posts">
    <div class="container">
        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="component-blog-posts__card">
                        <img src="/images/articles.png" alt="" class="component-blog-posts__card-image">
                        <div class="component-blog-posts__card-content">
                            <time datetime="21.10.2024" class="component-blog-posts__card-time">
                                21.10.2024
                            </time>
                            <div class="component-blog-posts__card-row">
                                <div class="component-blog-posts__card-title">
                                    Липосакция за 1 сеанс без операции и смс
                                </div>
                                <a href="#" class="btn btn--outline btn--white btn--icon btn--icon--small">
                                    <svg>
                                        <use xlink:href="/images/icons.svg#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="component-blog-posts__card">
                        <img src="/images/articles.png" alt="" class="component-blog-posts__card-image">
                        <div class="component-blog-posts__card-content">
                            <time datetime="21.10.2024" class="component-blog-posts__card-time">
                                21.10.2024
                            </time>
                            <div class="component-blog-posts__card-row">
                                <div class="component-blog-posts__card-title">
                                    Липосакция за 1 сеанс без операции и смс
                                </div>
                                <a href="#" class="btn btn--outline btn--white btn--icon btn--icon--small">
                                    <svg>
                                        <use xlink:href="/images/icons.svg#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="component-blog-posts__card">
                        <img src="/images/articles.png" alt="" class="component-blog-posts__card-image">
                        <div class="component-blog-posts__card-content">
                            <time datetime="21.10.2024" class="component-blog-posts__card-time">
                                21.10.2024
                            </time>
                            <div class="component-blog-posts__card-row">
                                <div class="component-blog-posts__card-title">
                                    Липосакция за 1 сеанс без операции и смс
                                </div>
                                <a href="#" class="btn btn--outline btn--white btn--icon btn--icon--small">
                                    <svg>
                                        <use xlink:href="/images/icons.svg#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                    </div>
    </div>
</div>