<div class="component-main-banner">
    <div class="swiper component-main-banner__swiper">
        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                    <div class="component-main-banner__card">
                        <img src="https://merkulovka.github.io/you-glow-html/images/main-banner.png" alt="" class="component-main-banner__card-image">
                        <div class="container">
                            <div class="component-main-banner__card-content">
                                <h2 class="component-main-banner__card-title">
                                    Массаж лица в Екатеринбурге
                                </h2>
                                <div class="component-main-banner__card-tag-list">
                                    <a href="#" class="component-main-banner__card-tag">
                                        Аппаратный массаж бмс
                                    </a>
                                    <a href="#" class="component-main-banner__card-tag">
                                        Миофасциальный массаж
                                    </a>
                                    <a href="#" class="component-main-banner__card-tag">
                                        Ручной массаж + бмс
                                    </a>
                                    <a href="#" class="component-main-banner__card-tag">
                                        Еще какая-то услуга (если не влазит в 1 строку - перемещается на вторую)
                                    </a>
                                </div>
                                <div class="component-main-banner__card-description">
                                    Массаж лица — это эффективная процедура, которая помогает улучшить кровообращение,
                                    повысить тонус мышц и сохранить молодость кожи. Мы подберем наиболее подходящий для
                                    вас вид массажа и его длительность.
                                </div>
                                <div class="component-main-banner__card-actions">
                                    <a href="#" class="btn btn--main">
                                        Записаться на услугу
                                        <svg>
                                            <use xlink:href="/images/icons.svg#arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn btn--main btn--outline">
                                        Каталог услуг
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="swiper-slide">
                    <div class="component-main-banner__card">
                        <img src="https://merkulovka.github.io/you-glow-html/images/main-banner.png" alt="" class="component-main-banner__card-image">
                        <div class="container">
                            <div class="component-main-banner__card-content">
                                <h2 class="component-main-banner__card-title">
                                    Массаж лица в Екатеринбурге
                                </h2>
                                <div class="component-main-banner__card-tag-list">
                                    <a href="#" class="component-main-banner__card-tag">
                                        Аппаратный массаж бмс
                                    </a>
                                    <a href="#" class="component-main-banner__card-tag">
                                        Миофасциальный массаж
                                    </a>
                                    <a href="#" class="component-main-banner__card-tag">
                                        Ручной массаж + бмс
                                    </a>
                                    <a href="#" class="component-main-banner__card-tag">
                                        Еще какая-то услуга (если не влазит в 1 строку - перемещается на вторую)
                                    </a>
                                </div>
                                <div class="component-main-banner__card-description">
                                    Массаж лица — это эффективная процедура, которая помогает улучшить кровообращение,
                                    повысить тонус мышц и сохранить молодость кожи. Мы подберем наиболее подходящий для
                                    вас вид массажа и его длительность.
                                </div>
                                <div class="component-main-banner__card-actions">
                                    <a href="#" class="btn btn--main">
                                        Записаться на услугу
                                        <svg>
                                            <use xlink:href="/images/icons.svg#arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn btn--main btn--outline">
                                        Каталог услуг
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="swiper-slide">
                    <div class="component-main-banner__card">
                        <img src="https://merkulovka.github.io/you-glow-html/images/main-banner.png" alt="" class="component-main-banner__card-image">
                        <div class="container">
                            <div class="component-main-banner__card-content">
                                <h2 class="component-main-banner__card-title">
                                    Массаж лица в Екатеринбурге
                                </h2>
                                <div class="component-main-banner__card-tag-list">
                                    <a href="#" class="component-main-banner__card-tag">
                                        Аппаратный массаж бмс
                                    </a>
                                    <a href="#" class="component-main-banner__card-tag">
                                        Миофасциальный массаж
                                    </a>
                                    <a href="#" class="component-main-banner__card-tag">
                                        Ручной массаж + бмс
                                    </a>
                                    <a href="#" class="component-main-banner__card-tag">
                                        Еще какая-то услуга (если не влазит в 1 строку - перемещается на вторую)
                                    </a>
                                </div>
                                <div class="component-main-banner__card-description">
                                    Массаж лица — это эффективная процедура, которая помогает улучшить кровообращение,
                                    повысить тонус мышц и сохранить молодость кожи. Мы подберем наиболее подходящий для
                                    вас вид массажа и его длительность.
                                </div>
                                <div class="component-main-banner__card-actions">
                                    <a href="#" class="btn btn--main">
                                        Записаться на услугу
                                        <svg>
                                            <use xlink:href="/images/icons.svg#arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn btn--main btn--outline">
                                        Каталог услуг
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
    </div>
    <div class="component-main-banner__swiper-navigations">
        <button class="btn btn--icon btn--main btn--outline component-main-banner__navigation component-main-banner__navigation--prev">
            <svg>
                <use xlink:href="/images/icons.svg#arrow-left"></use>
            </svg>
        </button>
        <div class="swiper-pagination component-main-banner__swiper-pagination"></div>
        <button class="btn btn--icon btn--main btn--outline component-main-banner__navigation component-main-banner__navigation--next">
            <svg>
                <use xlink:href="/images/icons.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</div>